/* tags for header */
.header {
    padding: 15px 0;
    background: #fff;  
    z-index: 9999;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
   
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}